<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  <targets>
    <target name="logfile" xsi:type="File"
            lineEnding="CR"
            encoding ="utf-8" fileName="nlog/log-${shortdate}.log" layout="${longdate}|${level:uppercase=true}| ${message} | ${all-event-properties} ${exception:format=tostring}" />
    <target name="logconsole" xsi:type="Console" 
            lineEnding="CR"
            encoding ="utf-8"
            layout="${longdate}|${level:uppercase=true}| ${message} | ${newline}${all-event-properties} ${exception:format=tostring}"  />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
  </rules>
</nlog>